.sc-body {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.oh-so-hidden {
  position: absolute;
  bottom: 0;
  right: 0;
}

.oh-so-hidden:hover {
  cursor: pointer;
}

.sc-body__syncindicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 10px;
  height: 10px;
  background-color: black;
}

.sc-body__syncindicator--synced {
  background-color: green;
}

.sc-body__syncindicator--not-synced {
  background-color: red;
}

.push-enter {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%);
}

.push-enter.push-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}

.pop-exit {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%);
}

.pop-exit.pop-exit-active {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
  transition: transform 500ms ease-in-out;
}

.pop-enter {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-100%);
}

.pop-enter.pop-enter-active {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%);
  transition: transform 500ms ease-in-out;
}

.push-exit {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%);
}

.push-exit.push-exit-active {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(100%);
  transition: transform 500ms ease-in-out;
}
