.sc-header {
  padding: 5px;
  border-bottom: 1px solid black;
}

/* .sc-nav {
} */

.sc-nav__nav-list {
  list-style: none;
}

.sc-nav__nav-item {
  display: inline-block;
  margin-left: 5px;
}

.sc-nav__nav-item:first-child {
  margin-left: 0;
}

.sc-body {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.sc-counter {
  text-align: center;
}

.sc-counter__heading {
  font-size: 30px;
}

.sc-counter__button {
  margin-top: 10px;
  background-color: #66e466;
  border-color: #66e466;
  padding: 30px;
  border-radius: 60px;
  font-size: 24px;
}

.sc-counter__button:hover {
  cursor: pointer;
}

.oh-so-hidden {
  position: absolute;
  top: 0;
  right: 0;
}

.oh-so-hidden:hover {
  cursor: pointer;
}
