.sc-app {
  display: flex;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
}

.sc-counter {
  text-align: center;
}

.sc-counter__heading {
  font-size: 30px;
}

.sc-counter__button {
  margin-top: 10px;
  background-color: #66e466;
  padding: 30px;
  border-radius: 60px;
  font-size: 24px;
}

.sc-counter__button:hover {
  cursor: pointer;
}

.oh-so-hidden {
  position: absolute;
  top: 0;
  left: 0;
}

.oh-so-hidden:hover {
  cursor: pointer;
}
